<!-- <h2 class="bg-info text-white p-3">Simple Tab Task</h2> -->
<app-std-form-table></app-std-form-table>
<div class="container">
  <!-- <div class="row">
    <div class="col-md-12">
      <h2 class="bg-primary text-white p-3">By using ngSwitch Tab Task 3</h2>
      <app-tab3></app-tab3>
      <hr>
      <h2 class="bg-secondary text-white p-3">By using ngFor Tab Task 2</h2>
      <hr>
      <app-tab2></app-tab2>
      <hr>
      <h2 class="bg-info text-white p-3">By using ngIf Simple  Tab Task 1</h2>
      <hr>
      <app-tab></app-tab>
    </div>
  </div> -->
</div>